body {
    font-family: Arial, sans-serif;
    background-color: #cab4b4;
    margin: 0;
    padding: 20px;

    background-image: url(bird.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}